body
{
    direction:rtl;
}
.row
{
    margin-top:5%;
    font-family: "Bahij TheSansArabic";
}
/* Start Call Us*/
.cdiv-call-us
{
    background-color: rgb(232, 19, 119);
    width: 39%;
    height: 348px;
    display: inline-block;
    float: right;
    position: relative;
}
#ip-call-us
{
    font-size: 52px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 1.2;
    margin: 0px;
    padding: 150px 71px 128px 172px; 
}
/* End Call Us*/
/* Start Post Address*/
.cdiv-back-post-address
{
    width:32%;
    height: 300px;
    position:relative;
    background-color: rgb(107, 71, 143);
    display: inline-block;
    float:right;
    margin-top: 79px;
    margin-right: -28px;
}
.cdiv-front-post-address
{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(237,237,237);
    transform: translate(16px,-15px);
}
.ch2-post-address-title
{
  color: rgb(107, 71, 143);
  line-height: 1;
  padding: 58px 60px 41px 71px;
  margin:0px;
}
.cdiv-content-post-address
{
    padding-right:60px;
}
#idiv-content-line
{
    width: 2px;
    height: 108px;
    background-color: rgb(107, 71, 143);
    float: right;
}
#idiv-info
{
    padding-right:20px;
    float: right;
    color: rgb(143, 143, 143);
    line-height: 1.429;
}
#ip-post-address , #ip-email ,#ip-phone
{
    color:rgb(107, 71, 143);
    font-weight: bold;
    margin: 0px;
    padding-bottom: 3px;
}
#ip-noon-magazine , #ip-location , #ispan-pa-number , #ispan-email , #ispan-phone
{
    font-weight: normal;
    margin: 0px;
    padding-bottom: 3px;

}
/* End Post Address*/
.cdiv-back-our-offices
{
    width:29%;
    height: 316px;
    background-color: rgb(232, 19, 119);
    position: relative;
    display: inline-block;
    top:16px;
    margin-right: -30px;
}
.cdiv-front-our-offices
{
    width: 112%;
    height: 316px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(237,237,237);
    transform: translate(-18px,-16px);
}
#ih2-our-offices
{
  color: rgb(107, 71, 143);
  line-height: 1;
  margin:0px;
  padding-top:58px;
  padding-right:56px;
  padding-bottom:43px;
}
 .li
{
    padding-right: 0px;
    margin-bottom: 17px;
    border-radius: 50%;
    background-color: rgb(107, 71, 143);
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0px 56px 0px 0px;
}
.cdiv-our-offices
{
    font-weight: normal;
    margin-bottom: 6px;
    color:rgb(143,143,143);
}
.cspan-office
{
  color: rgb(107, 71, 143);
  font-weight: bold;
  line-height: 1.429;
  padding-right: 9px;
  padding-left: 1px;
}


