/* Author: Andrew Emad Nassif */

/* Begin Fonts */
@font-face {
    font-family: "Bahij TheSansArabic";
    src: url("../webfonts/Bahij TheSansArabic-Plain.ttf")
}

@font-face {
    font-family: "Bahij TheSansArabic";
    src: url("../webfonts/Bahij TheSansArabic-Black.ttf");
    font-weight: bold
}
/* End Fonts */

a:hover {
    text-decoration: none;
}

.cdiv-time {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 12px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.2;
}

/* Begin News Container */
#idiv-news-container {
    border: 1px solid #f0f0f0;
    padding: 22px;
}

#iimg-news {
    width: 100%;
    height: 308px;
}

#idiv-title {
    font-size: 22px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px
}

#idiv-text {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.357;
    text-align: left;
}
/* End News Container */

/* Begin More News */
#idiv-more-news {
    padding-left: 20px;
    padding-right: 0;
}
/* End More News */

/* Begin Links */
.cdiv-links-row{
       margin-top:15px
    
}
.cdiv-links-row .cdiv-social a{
    margin-right:15px
}
.cdiv-links, .cdiv-news {
    border: 1px solid #f0f0f0;
    padding: 18px;
    margin-bottom: 20px;
    background-color: #fff
}

.cdiv-link-title, .cdiv-print-title {
    font-size: 22px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    text-align: left;
}

.cdiv-link-text>a, .cdiv-print-text {
    color: rgb(107, 71, 143);
    font-size: 16px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.697;
}

.cdiv-link-text, .cdiv-print-text {
    margin-bottom: 34px;
}

.cdiv-news .cdiv-social{
    padding-right: 0;
    text-align: center;

}

.cdiv-social a {
    margin-right: 6px;
    color: rgb(204, 204, 204);
    font-size: 14px;
    transition:all 0.2s ease-in-out;
}



.cdiv-social a:hover{
        color: rgb(107, 71, 143);
}
/* End Links */

/* Begin News */
.cdiv-news-title {
    font-size: 18px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 27px;
}

.cimg-news {
    width: 100%;
    height: 147px;
}

.cdiv-news .cdiv-time {
    margin-bottom: 14px;
}

.cdiv-news .cdiv-read-more {
    padding-top: 3px;
    font-size: 12px;
    text-align: center
}

.cdiv-news .cdiv-read-more a {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.2;
    -moz-transform: matrix( 0.9983286908078, 0, 0, 1.03681885125184, 0, 0);
    -webkit-transform: matrix( 0.9983286908078, 0, 0, 1.03681885125184, 0, 0);
    -ms-transform: matrix( 0.9983286908078, 0, 0, 1.03681885125184, 0, 0);
    transition: all 0.2s ease-in-out;
}

.cdiv-news .cdiv-read-more a:hover {
    color: rgb(107, 71, 143);
}

.cdiv-news .cdiv-read-more a .arrow {
    color: rgb(107, 71, 143);
}

.cdiv-news .cdiv-social {
    display: inline-block
}

.cdiv-news:last-child {
    margin-bottom: 0
}
/* End News */

/* Begin Advertisement */
#idiv-advertisement {
    border: 1px solid #f0f0f0;
    padding: 20px;
    height: 294px;
    margin-bottom: 20px;
}

#idiv-advertisement .cdiv-space {
    background-color: #efefef;
    height: 100%;
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    font-weight: bold;
    text-align: center;
}

#idiv-advertisement .cdiv-space span{
    position: relative;
    top: 49%;
}
/* End Advertisement */

/* Begin Profiles */
#idiv-profiles {
    border: 1px solid #f0f0f0;
    padding-top: 16px;
}

#idiv-profiles .cdiv-flag {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    background-color: #6b478f;
    width: 32%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px
}

#idiv-profiles .cdiv-profile {
    text-align: center;
    margin: 12px 25px
}

#idiv-profiles .cdiv-profile ~.cdiv-profile{
    border-top:1px solid #f0f0f0;
    padding-top:22px
}

#idiv-profiles img {
    border: 1px solid #f0f0f0;
    width: 100%;
    margin-bottom: 22px
}

#idiv-profiles .cdiv-profile-name {
    font-size: 18px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    margin-bottom: 20px
}

#idiv-profiles .cdiv-profile-text {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.357;
    margin-bottom: 20px
}

#idiv-profiles .cdiv-social {
    margin-bottom: 23px
}
#idiv-profiles .cdiv-social a{
    margin-right:5%
}
/* End Profiles */

/* Begin Comments Container */
#idiv-comments-container {
    margin-top: 15px;
    padding: 26px;
    border: 1px solid #f0f0f0;
    margin-bottom: 65px
}

#idiv-comments-header {
    font-size: 22px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    margin-bottom: 20px
}

#iinp-write-comment {
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    padding: 12px 15px;
    margin-bottom: 40px
}

#iinp-write-comment::placeholder {
    color: #f0f0f0;
    opacity: 1;
}
/* End Comments Container */

/* Begin Comment */
.cdiv-comment {
    margin-top: 20px;
}

.cdiv-comment~.cdiv-comment {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px
}

.cdiv-comment img {
    float: left;
    width: 45px;
    height: 60px;
    border: 1px solid #f0f0f0;
}

.cdiv-comment .cdiv-comment-body {
    margin-left: 57px;
}

.cdiv-comment .cdiv-comment-username {
    font-size: 18px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    margin-bottom: 2px
}

.cdiv-comment .cdiv-comment-text {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.357;
    text-align: left;
    margin-bottom: 5px
}

.cdiv-comment .cdiv-like-reply a {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.357;
    margin-right: 20px;
}
/* End Comment */

/* Begin Replies */
.cdiv-comment .cdiv-replies {
    border-left: 1px solid #f0f0f0;
    padding-left: 12px;
    margin-top: 20px;
}

.cdiv-comment .cdiv-replies img {
    width: 30px;
    height: 40px;
    border: 1px solid #f0f0f0;
}

.cdiv-comment .cdiv-replies .cdiv-reply-body {
    margin-left: 40px
}

.cdiv-comment .cdiv-replies .cdiv-reply-body .cdiv-reply-username {
    font-size: 16px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    margin-bottom: 2px;
}

.cdiv-comment .cdiv-replies .cdiv-reply-body .cdiv-reply-text {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(204, 204, 204);
    line-height: 1.357;
    margin-bottom: 5px;
}

.cdiv-comment .cdiv-replies .cdiv-view-more {
    margin-top: 25px;
}

.cdiv-comment .cdiv-replies .cdiv-view-more a {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.357;
}

.cdiv-comment .cdiv-replies .cdiv-view-more a .arrow {
    margin-right: 12px;
    margin-left: 12px
}
/* End Replies */

/* Begin Related Topics */
#idiv-related-topics {
    background-color: #efefef;
    padding-bottom: 67px
}

#idiv-related-topics #idiv-related-topics-header {
    margin-bottom: 107px
}

#idiv-related-topics .cdiv-flag {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #fff;
    background-color: #6b478f;
    width: 85px;
    height: 81px;
    padding: 20px;
    padding-top: 34px;
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    line-height: 1.2;
    text-align: center;
    float: left;
}

#idiv-related-topics .cdiv-more {
    float: right;
    margin-top: 56px;
    margin-right: 20px
}

#idiv-related-topics .cdiv-more a {
    font-size: 14px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
}
/* End Related Topics */


/* Author: Andrew Emad Nassif */