/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* set slide durartion and direction */
.carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
