/* author: Ahmed Mohamed Ahmed */

/* Fonts */
@font-face {
    font-family: Bahij-TheSansArabic-Plain;
    src: url(./../../fonts/bahij-the-sans-arabic-plain.ttf) format('truetype');
}
@font-face {
    font-family: Bahij-TheSansArabic-ExtraLight;
    src: url(./../../fonts/bahij-the-sans-arabic-extra-light.ttf) format('truetype');
}

body{
    overflow-x: hidden;
}

/* videos section */
#idiv-videos-section{
    background-color: rgb(239,239,239);
    height: 62.3vh;
    padding: 0 18.2%;
}

/* videos header */
#idiv-videos-header{
    height: 13%;
    font-family: Bahij-TheSansArabic-Plain;
    font-size: 14px;
    margin-bottom: 3%;
}
#idiv-label{
    position: relative;
    height: 100%;
    background-color: rgb(107, 71, 143);
    padding-left: 7px;
    width: 70px;
}
#ilbl-label{
    position: absolute;
    bottom: 0;
    color: #ffffff;
}
#idiv-videos-all-page{
    position: relative;
    height: 100%;
}
#ilink-videos-all-page{
    position: absolute;
    bottom: 0;
    color: #6b478f;
    right: 0;

}

/* carousel control style */
.carousel-control{
    background-image: none !important;
    color: rgb(107, 71, 143) !important;
    font-size: 25px;
    top:50%;
}
.carousel-control:hover{
    color: rgb(107, 71, 143) !important;
    opacity: 1 !important;
}

/* carousel item style */
.cdiv-video-carousel-item{
    height: 71%;
    padding: 0;
}
.cimg-video-cover{
    height:100%;
    width:100%;
    opacity: 0.2;
}
.cdiv-video-caption{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgba(107, 71, 143,0.902);
    padding-left: 4.9%;
    padding-top: 4.9%;
    padding-bottom: 4.4%;
    color: white;
    line-height: 1.2;
    display: none;
}
.cdiv-video-title{
    font-size: 12px;
    font-family: Bahij-TheSansArabic-ExtraLight;
    margin-bottom: 5.6%;
}
.cdiv-video-caption-text{
    font-size: 18px;
    font-family: Bahij-TheSansArabic-Plain;
}
.video{
    height:100%;
    width:100%;
    display: none;
}
.fa-play-circle{
    font-size: 55px;
    color: white;
    cursor: pointer;
}

/* carousel middle item style (when active) */
.carousel .carousel-inner .item.active div:nth-child(2) .cdiv-video-caption{
    display: block;
}
.carousel .carousel-inner .item.active div:nth-child(2) .cimg-video-cover{
    opacity: 1;
}
