@font-face
{
   font-family:Bahij TheSansArabic Plain;
   src:url('../../fonts/bahij-the-sans-arabic-plain.ttf');
}
.contactus_row1 , .contactus_row2 , .contactus_row3
{
    font-family:"Bahij TheSansArabic Plain";
    direction: rtl;
    text-align: right;
    margin-top:5%;

}
.contactus_row2
{
    margin-top:10.5%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border-color: transparent;
}
.contactus_row3 {margin-top:10.5%;}
@media(max-width:879px)
{
   .contactus_row2{background-size: cover;}
}