/* author : Mariam Ashraf */
/*Start Form Style*/
@font-face
{
    font-family: BahijTheSansArabic Plain;
    src:url('../../fonts/bahij-the-sans-arabic-plain.ttf'); 
}
#idiv-form-write-message
{
    
    height: 580px;
    background-color: rgb(107, 71, 143);
    padding: 0px;
}
#idiv-behind-write-message{
    width: 53.5%;
    height: 50px;
    margin-right: -9px;
    background-color: rgb(232, 19, 119);
    position: absolute;
    z-index: -1;
}
.cspan-error-name , .cspan-error-email , .cspan-error-message
{
    color: rgb(233,21,12);
    width: 40%;
    height: 10px;
    text-align: center;
    display: inline-block;
    font-family: BahijTheSansArabic Plain;
}
.cdiv-name {margin-top: 15.99%;}
.cdiv-name , .cdiv-email , .cdiv-message
{
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  margin-right: 13.13%;
  display: inline-block;
  font-family: BahijTheSansArabic Plain;
}
.cinput-name , .cinput-email , .ctextarea-message
{
    border: none;
    width:70%;
    align-self: center;
    border-bottom: 1px solid rgba(155,155,155,0.102);
    background-color: transparent;
    color: rgba(155,155,155,0.9);
    margin-right: 13.13%;
}
.cdiv-email {margin-top:4.37%;}
.cdiv-message {margin:5.89% 13.13% 2.5% auto;}
.ctextarea-message
{
  border: 1px solid rgba(155,155,155,0.102);
  width: 70%;
  height: 179px;
  resize: none;
  line-height: 1.2;
      font-family: BahijTheSansArabic Plain;
}
.cbtn-send
{
    width:14.64%;
    height: 38px;
    border-radius: 30px;
    color: rgb(107, 71, 143);
    line-height: 1.2;
    font-family: BahijTheSansArabic Plain;
    margin: 8.9% 13.13% auto auto;
}
 #idiv-write-message-info {font-size: 50px; }

 /*Start Media Query*/
@media(max-width:402px)
{
    #idiv-form-write-message {height: 170px;font-size: 7px;}
    .ctextarea-message {height: 30px;}
    .cbtn-send{
        width: 40px;
        height: 15px;
        font-size:7px;
        line-height: 1.5px;
        margin-top: 6%;
    }
}
@media(min-width:403px) and (max-width:767px)
{
    #idiv-form-write-message
    {height: 250px;font-size: 10px;}
    .ctextarea-message {height: 30px;}
    .cbtn-send{
        width: 40px;
        height: 15px;
        font-size:7px;
        line-height: 1.5px;
        margin-top: 4%;
    }
}
@media(min-width:768px) and (max-width:991px)
{
    #idiv-form-write-message{height: 370px;font-size: 14px;}
    .ctextarea-message {height: 90px;}
    .cbtn-send{
        width: 60px;
        height: 30px;
        margin-top:5%;
    }
}
 @media(max-width:1199px)
{ #idiv-behind-write-message{ visibility: hidden;}}
@media(min-width:992px) and (max-width:1199px)
{#idiv-form-write-message{height:510px;}}
/*End Media Query*/
/*End Form Style*/