/* author : Mariam Ashraf */
@font-face
{
    font-family: BahijTheSansArabic Bold;
    src:url('../../fonts/bahij-the-sans-arabic-bold.ttf'); 
}
#idiv-front-location-address
{
    width:300px;
    height: 229px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(237,237,237);
    z-index: 3;
    /*transform: translate(20%,-10%);*/
    transform: translate(9%,0%);
}
#idiv-location-address{
    /*width: 268px;
    height: 161px;
    background-color: rgb(107, 71, 143);*/
    z-index: 2;
    /*margin-right: 71.8%;
    margin-top: -19%;*/
    margin-top:-23%; 
    margin-right: 65%;
    width:300px;
    height: 229px;
    background: linear-gradient(to top, transparent 0% , transparent 10% ,rgb(107,71,143)10% ,rgb(107,71,143)90% , transparent 90%)
}
#idiv-content-location-address > .cdiv-info{margin-right: 8.47%;margin-left: auto;}
#idiv-front-location-address  #ih2-location-address-title
{
    font-family: BahijTheSansArabic Bold;
    color: rgb(107,71,143);
    padding:0px 3px 0px 1px;
    margin:11.18% 8.47% 9.15% auto;
}   
 /*Start Media Queries*/ 
@media(max-width:879px)
{
    #idiv-front-location-address , #idiv-location-address
    {
        visibility: hidden;
        margin: 0px;
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
}

/*End Media Queries*/