/* author : Mariam Ashraf Fekry*/
/* Start PostAddress Style*/
.contactus_row1 .cdiv-behind-content-noon
{
    width:32.04%;
    margin-top: 6.75%;
    margin-right: -2.82%;
}
.contactus_row1 .cdiv-front-content-noon
{
    height: 100%;
    transform: translate(5.33%,-5%);
}
.contactus_row1 .cdiv-noon-title
{
  padding:0px 5px 0px 2px;
  margin:14.83% 14.06% 10.48% auto;
}
.contactus_row1 #idiv-content-line
{
    width: 2px;
    height: 108px;
    margin-right:15.3%;
    margin-left:5.11%;
    margin-top:4px;
    background-color: rgb(107, 71, 143);
    float: right;
}
.contactus_row1 .cdiv-info , .contactus_row3 .cdiv-info
{
    color: rgb(143, 143, 143);
    line-height: 1.429;
    text-align: right;
    margin:2% 19.11% 12.98% 7.3%;
    font-size: 14px;
}

.contactus_row1 .cp-name , .contactus_row3 .cp-name

{
    color:rgb(107, 71, 143);
    font-family: BahijTheSansArabic Bold;
}
.contactus_row1 .cspan-value .contactus_row3 .cspan-value
{
    font-family: BahijTheSansArabic Plain;
    color:rgb(143, 143, 143);

}
.contactus_row1 .cdiv-our-info{
    padding-bottom: 3px;
}
.contactus_row1 #idiv-content{
    width: 100%;
    height: 100%;
}
/* End Post Address*/
/* Start Media Query*/
@media(max-width:402px)
{
    .contactus_row1  .cdiv-behind-content-noon{height: 120px;}
    .contactus_row1  .cdiv-noon-title 
    {
        font-size: 11px;
        margin: 15.83% 4% 10% auto;
    }
    .contactus_row1 #idiv-content-line{
        margin-top: -2%;
        height: 53%;margin-right: 9%;}
    .contactus_row1 .cdiv-info{
        font-size: 5px;
        margin-right: 15.11%;
    }
}
@media(max-width:279px)
{
    .contactus_row1  .cdiv-noon-title 
    {
        font-size: 10px;
        margin: 15.83% 4% 12% auto;

    }
}
@media(min-width:403px) and (max-width:589px)
{
    .contactus_row1  .cdiv-behind-content-noon{height: 150px;}
    .contactus_row1  .cdiv-noon-title 
    {
        font-size: 16px;
        margin: 15.83% 4% 5% auto;
    }
    .contactus_row1 #idiv-content-line
    {height: 85px;margin-right: 5%;}
    .contactus_row1 .cdiv-info
    {
        font-size: 8px;
        margin: 0px;
        padding: 0px;
    }
}
@media(min-width:590px) and (max-width:767px)
{
    .contactus_row1  .cdiv-behind-content-noon {height: 180px;}
    .contactus_row1  .cdiv-noon-title 
    {
        font-size: 24px;margin: 15.83% 4% 5% auto;
    }
    .contactus_row1 #idiv-content-line
    {
        height: 95px;margin-right: 5%;
    }
    .contactus_row1 .cdiv-info
    {
        font-size: 11px;margin: 0px;
    }
}
@media(min-width:768px) and (max-width:991px)
{
    .contactus_row1 .cdiv-behind-content-noon  {height: 260px;}
    .contactus_row1 .cdiv-noon-title {margin: 14.83% 9.0% 10.48% auto;}
    .contactus_row1 .cdiv-info{font-size: 12px;}
}
/* End Media Query*/
/*End PostAddress Style*/