/* Author : Mariam Ashraf*/
@font-face
{
   font-family:Bahij TheSansArabic;
   src:url('../../fonts/bahij-the-sans-arabic-plain.ttf');
}
.row
{
    margin-top:20px;
}
.row1 , .row2 , .row3
{font-family: "Bahij TheSansArabic";
    direction: rtl;
    text-align: justify;
}

/*Start About Noon Style*/

.cdiv-about-us
{
    background-color: rgb(232, 19, 119);
    width: 39.3%;
    display: inline-block;
    float: right;
}
.cdiv-about-noon{
    margin:25% 22% 18.3% 53.5%;
    padding:0px 5px;
    font-size: 52px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.cspan-about {font-weight: bold;}
/*Finish About Noon Style*/

/*Start Noon Style*/
.cdiv-behind-content-noon , .cdiv-behind-our-mission
{
    width:38%;
    position:relative;
    background-color: rgb(107, 71, 143);
    display: inline-block;
    float:right;
    margin-right:-6%;
    margin-top: 10%;
}
.cdiv-front-content-noon , .cdiv-front-our-mission
{
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(237,237,237);
    transform: translate(4.9%,-4%);
}
.cdiv-noon-title , .ch2-our-mission-title
{
    font-size: 30px;
    color: rgb(107, 71, 143);
    line-height: 1;
    font-weight: bold;
    padding:0 4px 0 2px;
    margin:8.83% 8.62% auto auto;

}
.cp-noon , .cp-our-mission
{
    color: rgb(143, 143, 143);
    line-height: 1.429;
    margin:11.2% 8.62% 15% 12.6%;
    word-wrap: break-word;
}
/*End Noon Style*/
/*Start Image Style*/
.cdiv-behind-image
{
    width:31.5%;
    height: 294px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(255,255,255) 9.62%,
                                          rgb(232, 19, 119) 9.62%,rgb(232, 19, 119) 46.90%,
                                          rgb(255,255,255)46.90%);
    margin-right: -4.5%;
    margin-top:2%;
}
.cdiv-contain-image
{ 
    height: 100%;
    border:1px solid rgb(237,237,237);
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;    
    transform: translate(0%,2%);
}
/*End Image Style*/
/*Start Logo Style*/
.cdiv-behind-logo
{
    width:310px;
    height: 227px;
    position: relative;
    background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(255,255,255) 11.6%,
                                          rgb(232, 19, 119) 11.6%,rgb(232, 19, 119) 76.77%,
                                          rgb(255,255,255)76.77%);
    margin-top:4%;
    margin-right:2%;
    float: right;    
}
.cdiv-contain-logo
{
    height: 100%;
    border:1px solid rgb(237,237,237);
    background-image: url(../img/logo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(255,255,255);
    transform: translate(-5%,-2%);
}
/*End Logo Style*/

/*Start Vision Style*/

.row2
{
    margin-top:10.5%;
    background-image: url(../img/Laundry.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:366px;
}
.cdiv-vision{
   padding:  8.19% 5.9% 0px 0px;
}
.cdiv-our-mission-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 0.8;
  padding: 0px 3px;
  margin: 0px;
}
.cp-our-mission-description
{
    color: rgb(255, 255, 255);
    line-height: 1.429;
    margin: 0px;
    padding: 1.55% 0.32% 1.55% 6.22%;
}
/*Finish Vision Style*/

/*Start Third Component Style*/
.row3 {margin-top:10%;}
/*Start Gathering Image Style*/
.row3>.cdiv-behind-image
{
    background: linear-gradient(to right, rgb(255,255,255) 0%,rgb(255,255,255) 100%);
     width:33.11%;
    height: 295px;
    margin-right:0%;
}
.row3 .cdiv-contain-image {transform: translate(0%,0%);}
.cdiv-vertical {
  background-color: rgb(232, 19, 119);
  width: 6.47%;
  height: 25%;
  margin-right:100%;
  position: absolute;
  margin-top: 7.17%;
}
.cdiv-horizontal
{
  background-color: rgb(107, 71, 143);
  position: absolute;
  width: 50.9%;
  height: 100%;
  margin-top:2%;
  margin-right: 4.7%;
}
/*End Gathering Image Style*/
/*Start Our Mission Style*/
.cdiv-behind-our-mission
{
    width: 70.89%;
    margin-right: 29%;
    margin-top: -18%;
}
.cdiv-front-our-mission
{
    transform: translate(1.5%,-4%);
}
.ch2-our-mission-title {margin-bottom:3.83%; }
.cp-our-mission {margin:0% 8.62% 11.3% 12.6%;}
/*End Our Mission Style*/

/*Start White Logo Style*/
.row3 .cdiv-contain-logo
{
    background-color: rgb(232, 19, 119);
    background-image: url(../img/whiteLogo.png);
    transform: translate(-2%,-3%);
}
.row3 .cdiv-behind-logo
{
    margin-top: -3%;
    margin-right: 17%;
    background: linear-gradient(to top,rgb(107, 71, 143)0%,rgb(107, 71, 143)9%,rgb(255,255,255)9%);
}
/*End White Logo Style*/
/*End Third Component Style*/

/*Start Media Queries*/
@media(max-width:1149px)
{
    .cdiv-about-us {width:50%}
    .cdiv-behind-content-noon {width:56%}
    .cdiv-contain-image
    {
        width: 100%;
        border: none
    }
    .cdiv-about-noon , .cdiv-noon-title, .ch2-our-mission-title , .cdiv-our-mission-title
     {font-size: 19px;}
    .cp-noon, .cp-our-mission , .cp-our-mission-description
    {font-size: 8px;}
    img , .cdiv-behind-image
    {
        width:90%;
        height: 200px;
        margin-top: 1%;
        margin-right:6%;
        margin-left: 1%;
    }
    .cdiv-behind-logo
    {
        width:88%;
        height:180px;
        margin-top: 8%;
    }
    .row3 .cdiv-behind-image
    {
        margin:0%;
        padding: 0%;
        width: 0%;
        height: 0%;
    }
    .cdiv-behind-our-mission
    {
        width: 80%;
        margin-right: 10%;
        margin-top: 0%;
    }
}
@media(max-width:589px)
{
    .row3 .cdiv-behind-logo ,.row3 .cdiv-contain-logo
    {
        margin:0%;
        padding: 0%;
        width: 0%;
        height: 0%;
    }
    .row2 {height: 227px;}
}
@media(min-width:403px) and (max-width:589px)
{
    .cdiv-about-noon , .cdiv-noon-title, .ch2-our-mission-title , .cdiv-our-mission-title
     {font-size: 25px;}
    .cp-noon, .cp-our-mission , .cp-our-mission-description
    {font-size: 10px;}
    .cdiv-behind-our-mission
    {
        width: 78%;
        margin-right: 10%;
        margin-top: 0%;
    }
}
@media(min-width:590px) and (max-width:1149px)
{
    .cdiv-about-noon , .cdiv-noon-title, .ch2-our-mission-title , .cdiv-our-mission-title
     {font-size: 35px;}
    .cp-noon, .cp-our-mission , .cp-our-mission-description
    {font-size: 14px;}
    img , .cdiv-behind-image { width:90%;}
    .cdiv-behind-logo
    {
        width:60%;
        margin-right: 17%;
    }
    .row3 .cdiv-behind-logo {margin-top: 2%;}
}
@media(min-width:1150px) and (max-width:1199px)
{
    .cdiv-behind-logo { width:259px; }
    .cdiv-behind-our-mission { margin-top:-21%;}
}
/*End Media Queries*/
