/* Author : Mariam Ashraf*/
@font-face{
   font-family:BahijTheSansArabic Plain;
   src:url('../../fonts/bahij-the-sans-arabic-plain.ttf');
}
.row1 , .row2 , .row3
{
    font-family:BahijTheSansArabic Plain;
    direction: rtl;
    text-align: justify;
    margin-top:20px;
}
.row2
{
    margin-top:10.5%;
    background-image: url(../img/Laundry.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:366px;
}
.row3 {margin-top:10%;}

/*Start Media Queries*/
@media(max-width:589px)
{
    .row2 {height: 227px;}
}
/*End Media Query*/
