
body{
    overflow-x: hidden;
}

/* Fonts */
@font-face {
    font-family: Bahij-TheSansArabic-Plain;
    src: url(./../fonts/bahij-the-sans-arabic-plain.ttf) format('truetype');
}
@font-face {
    font-family: Bahij-TheSansArabic-ExtraLight;
    src: url(./../fonts/bahij-the-sans-arabic-extra-light.ttf) format('truetype');
}

/* carousel component style start*/

/* set slide durartion and direction */
.carousel .carousel-inner .carousel-item {
    transition: 500ms ease-in-out left;
}

/* set transition value */
.carousel .carousel-inner .active.left {
    left: -33%;
}
.carousel .carousel-inner .active.right {
    left: 33%;
}
.carousel .carousel-inner .next {
    left: 33%;
}
.carousel .carousel-inner .prev {
    left: -33%;
}

/* handle smooth sliding */
.carousel .carousel-inner .item {
    transform: none!important;
}
/* carousel component style end*/

/* images carousel component style start */

.carousel .carousel-inner#idiv-news-carousel-inner {
    padding-bottom: 55px;
}

/* carousel indicator style */
.carousel-indicators li{
    background-color: rgb(204, 204, 204);
    width: 6px !important;
    height: 6px !important;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: rgb(107, 71, 143);
}

/* carousel item style */
.cdiv-carousel-item{
    height: 69.2vh;
    padding: 0;
}
.cimg-carousel-image{
    height:100%;
    width:100%;
}
.cdiv-carousel-item-caption{
    position: absolute;
    bottom:0;
    background-color: rgba(255, 255, 255,0.902);
    font-family: Bahij-TheSansArabic-Plain;
    line-height: 1.2;
    padding-left: 7.7%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 5.9%;
    width: 100%;
}
.cdiv-carousel-item-caption .cspan-published-time{
    font-size: 12px;
    color: #cccccc;
}
.cdiv-carousel-item-caption .cdiv-text{
    font-size: 22px;
    color: #6b478f;
    margin-top: 3%;
}

/* carousel middle item style (when active) */
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-carousel-item-caption{
    background-color: rgba(107,71,143,0.902);
}
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-carousel-item-caption span{
    color: #ffffff;
}
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-carousel-item-caption div{
    color: #ffffff;
}
/* images carousel component style end */

/* video carousel component style start */

/* videos section */
#idiv-videos-section{
    background-color: rgb(239,239,239);
    padding-right: 18.2%;
    padding-left: 18.2%;
    padding-bottom: 70px;
}

/* videos section header */
#idiv-videos-header{
    margin-bottom: 23px;
    font-family: Bahij-TheSansArabic-Plain;
    font-size: 14px;
}
#idiv-videos-headline{
    display: table;
    height: 8.2vh;
    background-color: rgb(107, 71, 143);
}
#ispan-videos-headline{
    display: table-cell;
    color: #ffffff;
}
#idiv-videos-allpage{
    float: right;
    display: table;
    height: 8.2vh;
}
#ilink-videos-allpage{
    display: table-cell;
    color: #6b478f;
    vertical-align: bottom;
}

/* carousel control style */
.carousel-control-next, .carousel-control-prev{
    background-image: none !important;
    color: rgb(107, 71, 143) !important;
    font-size: 25px;
}
.carousel-control:hover, .carousel-control-next:hover{
    color: rgb(107, 71, 143) !important;
    opacity: 1 !important;
}

/* carousel video item style */
.cdiv-video-carousel-item{
    height: 44vh;
    padding: 0;
}
.cimg-video-cover{
    height:100%;
    width:100%;
    opacity: 0.2;
}
.cdiv-video-caption{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgba(107, 71, 143,0.902);
    padding-left: 4.9%;
    padding-top: 4.9%;
    padding-bottom: 4.4%;
    color: white;
    line-height: 1.2;
    display: none;
}
.cdiv-video-title{
    font-size: 12px;
    font-family: Bahij-TheSansArabic-ExtraLight;
    margin-bottom: 5.6%;
}
.cdiv-video-caption-text{
    font-size: 18px;
    font-family: Bahij-TheSansArabic-Plain;
}

/* video style */
.video{
    height:100%;
    width:100%;
    display: none;
}
.fa-play-circle{
    font-size: 55px;
    color: white;
    cursor: pointer;
}

/* carousel middle video item style (when active) */
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-video-caption{
    display: block;
}
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cimg-video-cover{
    opacity: 1;
}
/* video carousel component style end */