/* Author: Ahmed Hussein */

@viewport {
    width: device-width;
}

/* Fonts */
@font-face {
    font-family: Bahij-TheSansArabic-Plain;
     src: url('./../fonts/bahij-the-sans-arabic-plain.ttf') format('truetype');
}
@font-face {
    font-family: Bahij-TheSansArabic-Bold;
     src: url('./../fonts/bahij-the-sans-arabic-bold.ttf') format('truetype');
}

.csection-root {
    padding-bottom: 4.063rem;
    width: 100%;
    background-color: #efefef;
}

.chdr-section-title {
    padding-bottom: 100px;
    height: 4.375rem;
    font-family: "Bahij-TheSansArabic-Plain";
}

.cspn-flag {
    color: #ffffff;
    background-color: #6b478f;
    width: 85px;
    height: 81px;
    padding-top: 34px;
    font-size: 14px;
    font-family: "Bahij-TheSansArabic-Plain";
    line-height: 1.2;
    text-align: center;
    float: left;
}

.cspn-more {
    float: right;
    margin-top: 56px;
    margin-right: 20px;
}

.cspn-more a {
    color: #6b478f;
}