/**
 * Page Rules
*/

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Black.ttf');
    font-family: 'Black';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Bold.ttf');
    font-family: 'Bold';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-ExtraLight.ttf');
    font-family: 'ExtraLight';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Plain.ttf');
    font-family: 'Plain';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-SemiLight.ttf');
    font-family: 'SemiLight';
}

body {
    font-family: 'Plain';
}


/* Start of Slider */

.slide-show {
    margin: 100px 0
}

.slide-show .carousel-control-next {
    color: #6b478f;
    width: 60px;
    opacity: 1;
    height: 60px;
    top: 50px;
    right: 45px;
    line-height: 1;
    font-family: Plain;
    text-align: right;
}

.slide-show .carousel-control-prev {
    right: 115px;
    width: 60px;
    height: 60px;
    color: #6b478f;
    opacity: 1;
    left: auto;
    top: 35px;
    font-family: Plain;
    line-height: 1;
    text-align: left;
}

.slide-show .carousel-control-next-icon,
.slide-show .carousel-control-prev-icon {
    padding-top: 50px;
}

.slide-show .line {
    display: block;
    position: absolute;
    top: 45px;
    right: 111px;
    width: 2px;
    height: 60px;
    background: #CCC;
    transform: rotate(40deg);
}

.slide-show .options {
    margin: 30px 0;
    overflow: hidden;
}

.slide-show .options .left,
.slide-show .options .right {
    position: relative;
}

.slide-show .options .left .controller,
.slide-show .options .right .controller {
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    transition: .3s all ease-in-out
}

.slide-show .options .left:hover .controller,
.slide-show .options .right:hover .controller {
    bottom: 0;
}

.slide-show .options .left .controller .square,
.slide-show .options .right .controller .square {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 88px;
    background: #e81377;
    height: 90px;
    object-position: center;
    color: #FFF;
    font-family: Plain;
}

.slide-show .options .left .controller .square .sq-text,
.slide-show .options .right .controller .square .sq-text {
    text-align: center;
    line-height: 5.5;
}

.slide-show .options .left .controller .rectangle,
.slide-show .options .right .controller .rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 88px);
    background-color: rgba(108, 75, 140, .9);
    color: #FFF;
    font-family: Plain;
    font-size: 21px;
    padding: 15px 25px;
    line-height: 1.1;
}

.slide-show .options .left .controller .rectangle .rec-text,
.slide-show .options .right .controller .rectangle .rec-text {
    width: 80%;
    margin: 0
}

.slide-show .options .left .controller .rectangle i,
.slide-show .options .right .controller .rectangle i {
    position: absolute;
    top: 13px;
    right: 0;
    width: 20%;
    font-size: 45px;
    cursor: pointer;
}


/* End of Slider */