@viewport {
    width: device-width;
}

/* Fonts */
@font-face {
    font-family: Bahij-TheSansArabic-Plain;
     src: url('./../fonts/bahij-the-sans-arabic-plain.ttf') format('truetype');
}

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

/* news videos carousel component style start */
.cimg-icon{
    width: 50px;
    height: 50px;
}

/* carousel middle item style (when active) */
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-carousel-item-caption .cimg-icon{
    display: none;
}
.carousel .carousel-inner .carousel-item.active .row div:nth-child(2) .cdiv-carousel-item-caption .fa-play-circle{
    display: block !important;
}
/* news videos carousel component style end */

/* media section style */
.cdiv-component-root{
    margin: 0%;
    padding: 0rem 17.708%;
    width: 100%;
}

/* media section hearder style */
.chdr{
    padding-left: 0.625rem;
}
.cspn-hdr{
    display: table;
    height: 4.375rem;
    width: 3.75rem;
    text-align: center;
    color: #ffffff;
    background-color: #6b478f;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    font-size: 0.875rem;
    font-family: Bahij-TheSansArabic-Plain;
}
.clbl-hdr{
    display: table-cell;
    vertical-align: middle;
}

/* media section body style*/
.cfgr-main{
    display: block;
    margin: 0 auto;
}
.cdiv-media-box{
    position: relative;
    display: table;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
}
.cmedia{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.cfigcaption-main{
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.25rem;
    max-height: 2.5rem;
    font-size: 1.125rem;
    font-family: Bahij-TheSansArabic-Plain;
    color: #6b478f;
}
.cdiv-show-on-hover{
    position: absolute;
    width: 100%;
    height: 100%;
}
.cspn-show-on-hover{
    display: table;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.cfgr-show-on-hover{
    display: none;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #6b478fb3;
    text-align: center;
    margin-bottom: 0rem;
    cursor: pointer;
}
.cimg-show-on-hover{
    width: 19.655%;
    height: auto;
    max-height: 100%;
}
.cfigcaption-show-on-hover{
    font-family: Bahij-TheSansArabic-Plain;
    color: #ffffff;
    margin-top: 0.313rem;
}
.cdiv-media-box:hover .cfgr-show-on-hover{
    display: table-cell;
}

/* media section footer style */
.cftr{
    padding: 2.5rem 0rem;
    text-align: center;
}
.cbtn-more{
    border: none;
    border-top-left-radius: 40%30px;
    border-bottom-left-radius: 40%30px;
    border-top-right-radius: 40%30px;
    border-bottom-right-radius: 40%30px;
    width: 5.375rem;
    height: 2.375rem;
    color: #ffffff;
    background-color: #6b478f;
    font-size: 0.875rem;
    font-family: Bahij-TheSansArabic-Plain;
    cursor: pointer;
}