/* author : Mariam Ashraf */
@font-face{
    font-family:BahijTheSansArabic Bold;
    src:url('../../fonts/bahij-the-sans-arabic-bold.ttf');
 }
 @font-face{
    font-family:BahijTheSansArabic ExtraLight;
    src:url('../../fonts/bahij-the-sans-arabic-extra-light.ttf');
 }
 /*Start About Noon Style*/
 .cdiv-about-us
 {
     background-color: rgb(232, 19, 119);
     display: inline-block;
     float: right;
 }
 .cdiv-about-noon{
  
     font-size: 52px;
     color: rgb(255, 255, 255);
     line-height: 1.2;
 }
 .cspan-about {
     font-family:BahijTheSansArabic Bold;
 }
 .cspan-noon{
     font-family:BahijTheSansArabic ExtraLight;
 }
 .aboutus_row1 .cdiv-about-us{
    width: 39.3%;
 }
 .aboutus_row1 .cdiv-about-noon{
    margin:25% 22% 18.3% 53.5%;
    padding:0px 5px;
 }
 .aboutus_row1 .cspan-about{
     display: block;
 } 
 /*Start Media Query*/
 @media(max-width:402px)
 {
    .aboutus_row1 .cdiv-about-noon {font-size: 19px;}
 }
 @media(min-width:403px) and (max-width:589px)
 {
    .aboutus_row1 .cdiv-about-noon
      {font-size: 25px;}
 }
 @media(min-width:590px) and (max-width:1149px)
 {
    .aboutus_row1 .cdiv-about-noon {font-size: 35px;}
 }
/*End Media Query*/
/*End About Noon Style*/