/* author : Mariam Ashraf */
/*Start Our Mission Style*/
 .aboutus_row3 .cdiv-behind-content-noon
 {
     width: 70.89%;
     margin-right: 29%;
     margin-top: -18%;
 }
 .aboutus_row3 .cdiv-front-content-noon
 {
     transform: translate(1.5%,-4%);
 }
 .aboutus_row3  .cdiv-noon-title {
     margin-bottom:3.83%;
}
.aboutus_row3 .cp-noon{
     margin:0% 8.62% 11.3% 12.6%;
}
/*Start Media Query*/
 @media(max-width:402px)
 {
    .aboutus_row3  .cdiv-noon-title
      {font-size: 15px;}
    .aboutus_row3 .cp-noon
     {font-size: 5px;}
     .aboutus_row3 .cdiv-behind-content-noon{
        margin-top: -17%;
     }
 }
 @media(min-width:403px) and (max-width:589px)
 {
    .aboutus_row3  .cdiv-noon-title
      {font-size: 23px;}
    .aboutus_row3 .cp-noon
     {font-size: 7px;}
    .aboutus_row3 .cdiv-behind-content-noon
     {
         margin-top: -13%;
     }
 }
 @media(min-width:590px) and (max-width:1149px)
 {
    .aboutus_row3  .cdiv-noon-title
      {font-size: 30px;}
    .aboutus_row3 .cp-noon
     {font-size: 11px;}
     .aboutus_row3 .cdiv-behind-content-noon{
         margin-top: -14%;
     }
 }
 @media(min-width:992px) and (max-width:1149px){
    .aboutus_row3 .cdiv-behind-content-noon{
        margin-top: -12%;
        margin-right: 30%;
    }
 }
 @media(min-width:1150px) and (max-width:1199px)
 {
    .aboutus_row3 .cdiv-behind-content-noon{ margin-top:-21%;}
 }
 /*End Media Query*/
  /*End Our Mission Style*/
