/* Author: Andrew Emad Nassif */

/* Fonts */
@font-face {
    font-family: Bahij-TheSansArabic-Plain;
     src: url('./../fonts/bahij-the-sans-arabic-plain.ttf') format('truetype');
}
@font-face {
    font-family: Bahij-TheSansArabic-Bold;
     src: url('./../fonts/bahij-the-sans-arabic-bold.ttf') format('truetype');
}

/* Component style */

/* Component body */
.cdiv-news a:hover {
    text-decoration: none;
}
.cdiv-news time {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 12px;
    font-family: Bahij-TheSansArabic-Plain;
    color: #cccccc;
    line-height: 1.2rem;
    display:block;
    margin-bottom: 14px;
}
.cdiv-news{
    border: 1px solid #f0f0f0;
    padding: 1rem;
    margin: 0.5rem 0.25rem;
    background-color: #ffffff;
    margin-top: 15px;
    height:328px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.cdiv-news h5 {
    font-size: 18px;
    font-family: "Bahij TheSansArabic";
    color: rgb(107, 71, 143);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height:42px
}
.cimg-news {
    display: block;
    width: 100%;
    height: auto;
}
.cdiv-news p {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.25rem;
    font-size: 14px;
    font-family: Bahij-TheSansArabic-Plain;
    color: #cccccc;
}
.cdiv-social {
    display: inline-block
}
.cdiv-news .cdiv-social .fa {
    margin-right: 8px;
    color: #cccccc;
    font-size: 14px;
}
.cdiv-news .cdiv-social .fa:hover {
    color: #6b478f;
}


/* Author: Andrew Emad Nassif */