/**
 * Page Rules
*/

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Black.ttf');
    font-family: 'Black';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Bold.ttf');
    font-family: 'Bold';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-ExtraLight.ttf');
    font-family: 'ExtraLight';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-Plain.ttf');
    font-family: 'Plain';
}

@font-face {
    src: url('../webfonts/BahijTheSansArabic-SemiLight.ttf');
    font-family: 'SemiLight';
}

body {
    font-family: 'Plain';
}


/* start top header*/

.cheader-top-head .cdiv-top-header .cdiv-logo img {
    width: 135px;
}

.cheader-top-head .cdiv-top-header .right {
    padding: 10px;
    text-align: right
}

.cheader-top-head .cdiv-top-header .left {
    padding: 15px;
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn,
.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .btn {
    position: relative;
    font-family: "Plain";
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 5px 10px;
    color: #CCC;
    box-shadow: none;
    transition: .2s all ease-in-out;
    font-size: 14px;
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn:nth-of-type(2)::after,
.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn:nth-of-type(2)::before,
.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language .dropdown::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #CCC;
    position: absolute;
    top: 10px;
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn:nth-of-type(2)::after {
    right: 0;
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn:nth-of-type(2)::before,
.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language .dropdown::before {
    left: 0
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .cdiv-search {
    display: none;
}

.cheader-top-head .cdiv-top-header .cdiv-top-btns .btn:hover,
.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .btn:hover {
    color: #6b478f;
}

.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .social-media,
.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language {
    display: inline-block;
}

.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .social-media .btn {
    padding: 5px
}

.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language {
    position: relative;
}

.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language .dropdown-menu {
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    top: 6px !important;
    left: auto !important;
    right: 0;
    font-family: Plain;
}

.cheader-top-head .cdiv-top-header .cdiv-bottom-btns .language .dropdown-menu .dropdown-item {
    padding: 7px 15px;
    border-bottom: 1px solid #EEE;
}


/* end top header */


/* start bottom header */

.bottom-header .navbar {
    background-color: #6b478f;
    padding: 0;
    margin-bottom: 20px
}

.bottom-header .navbar .navbar-brand,
.bottom-header .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #FFF;
    font-family: 'Plain';
    font-size: 14px;
    padding: 10px
}

.bottom-header .navbar .navbar-brand {
    padding-left: 0;
    margin: 0
}

.bottom-header .navbar .collapse .navbar-nav .nav-item {
    position: relative;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .nav-link:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    background: #FFF;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .nav-link::after {
    display: none;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .nav-link i {
    font-size: 8px;
    padding: 0 3px
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .nav-link i {
    font-size: 11px;
    padding-right: 6px
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    top: 39px;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .dropdown-menu a {
    color: #CCC;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .dropdown-menu a:hover {
    color: #6b478f;
}

.bottom-header .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 11px 15px;
    border-bottom: 1px solid #EEE;
}

.bottom-header .navbar .collapse .navbar-nav:last-of-type .nav-item:first-of-type {
    padding-right: 35px
}

.bottom-header .navbar .collapse .navbar-nav:last-of-type .nav-item .nav-link {
    position: relative;
}

.dropdown-menu .show>.dropdown-toggle::after {
    transform: rotate(-90deg);
}

.bottom-header .navbar .dropdown-menu a {
    position: relative;
}

.bottom-header .navbar .dropdown-menu .dropdown-toggle::after {
    position: absolute;
    top: 18px;
    right: 6px;
}


/*.bottom-header .navbar .collapse .navbar-nav:last-of-type .nav-item .nav-link:hover,*/

.bottom-header .navbar .collapse .navbar-nav:last-of-type .active-cust .nav-link {
    background: #e81377;
}


/*.bottom-header .navbar .collapse .navbar-nav:last-of-type .nav-item .nav-link:hover::after,*/

.bottom-header .navbar .collapse .navbar-nav:last-of-type .active-cust .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: #e81377;
    height: 10px;
}

.bottom-header .navbar .collapse .navbar-nav:last-of-type .nav-item .nav-link span {
    padding-right: 6px
}

.bottom-header .navbar .label {
    position: absolute;
    bottom: -85px;
    background: #efefef;
    padding: 5px 20px 20px;
    width: 99px;
    font-family: 'Plain';
    text-align: center;
    color: #6b478f;
    border-radius: 0 0 50% 50%;
    z-index: 1;
    font-size: 20px
}

.bottom-header .navbar .navbar-nav .nav-item ul.dropdown-menu li {
    transition: .5s all ease-in-out
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li:hover {
    border-right: 1px solid #533670
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    font-family: 'Plain';
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -m-max-content;
    max-width: 65vw;
    top: -4px !important;
    left: 159px !important;
    padding-right: 15px
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .first {
    border-right: 1px solid #EEE;
    padding-right: 0
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table {
    width: 100%;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr th {
    padding: 11px
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td {
    border: 1px solid #EEE;
    color: #CCC;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td:first-of-type {
    border-left: 0;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td:last-of-type {
    border-right: 0;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr:first-of-type td {
    border-top: 0
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr:last-of-type td {
    border-bottom: 0
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td img {
    margin-right: 5px
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td a {
    text-decoration: none;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu table tr td a:hover {
    color: #6b478f;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third {
    padding: 15px 0;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart {
    box-shadow: 0px 0px 15px #E9E9E9
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart .image img,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart .image img {
    width: 100%;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart .text,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart .text {
    padding: 10px
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart .text .head h6,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart .text .head h6 {
    float: left;
    font-family: 'ExtraLight';
    font-size: 13px;
    color: #6b478f;
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart .text .head span,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart .text .head span {
    float: right;
    font-size: 12px;
    color: #DDD
}

.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .second .cart .text p,
.bottom-header .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu .third .cart .text p {
    clear: both;
    font-size: 15px;
    margin: 0;
    color: #6b478f
}


/* end bottom header */


/* Start of Slider */

.slide-show {
    margin: 100px 0
}

.slide-show .carousel-control-next {
    color: #6b478f;
    width: 60px;
    opacity: 1;
    height: 60px;
    top: 50px;
    right: 45px;
    line-height: 1;
    font-family: Plain;
    text-align: right;
}

.slide-show .carousel-control-prev {
    right: 115px;
    width: 60px;
    height: 60px;
    color: #6b478f;
    opacity: 1;
    left: auto;
    top: 35px;
    font-family: Plain;
    line-height: 1;
    text-align: left;
}

.slide-show .carousel-control-next-icon,
.slide-show .carousel-control-prev-icon {
    padding-top: 50px;
}

.slide-show .line {
    display: block;
    position: absolute;
    top: 45px;
    right: 111px;
    width: 2px;
    height: 60px;
    background: #CCC;
    transform: rotate(40deg);
}

.slide-show .options {
    margin: 30px 0;
    overflow: hidden;
}

.slide-show .options .left,
.slide-show .options .right {
    position: relative;
}

.slide-show .options .left .controller,
.slide-show .options .right .controller {
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    transition: .3s all ease-in-out
}

.slide-show .options .left:hover .controller,
.slide-show .options .right:hover .controller {
    bottom: 0;
}

.slide-show .options .left .controller .square,
.slide-show .options .right .controller .square {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 88px;
    background: #e81377;
    height: 90px;
    object-position: center;
    color: #FFF;
    font-family: Plain;
}

.slide-show .options .left .controller .square .sq-text,
.slide-show .options .right .controller .square .sq-text {
    text-align: center;
    line-height: 5.5;
}

.slide-show .options .left .controller .rectangle,
.slide-show .options .right .controller .rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 88px);
    background-color: rgba(108, 75, 140, .9);
    color: #FFF;
    font-family: Plain;
    font-size: 21px;
    padding: 15px 25px;
    line-height: 1.1;
}

.slide-show .options .left .controller .rectangle .rec-text,
.slide-show .options .right .controller .rectangle .rec-text {
    width: 80%;
    margin: 0
}

.slide-show .options .left .controller .rectangle i,
.slide-show .options .right .controller .rectangle i {
    position: absolute;
    top: 13px;
    right: 0;
    width: 20%;
    font-size: 45px;
    cursor: pointer;
}


/* End of Slider */


/* Start of footer */

.footer {
    background-color: #6b478f;
    color: white;
    padding: 40px 0px;
    overflow: hidden;
    font-family: 'Plain';
}

.footer h5 {
    font-family: 'Bold';
    padding-left: 15px
}

.footer .logo img {
    width: 100%;
}

.footer .copyright {
    font-family: 'Plain';
    color: #533670;
    margin-top: 60px;
    font-size: 13px
}

.footer .home table tbody tr td {
    padding: 5px 15px;
    font-family: 'SemiLight';
}

.footer .home table tbody tr td a {
    color: #FFF;
    text-decoration: none;
}

.footer .home table tbody tr td a:hover {
    color: #533670
}

.footer .social-media {
    padding-left: 15px;
    margin: 20px 0
}

.footer .social-media .btn {
    background-color: #6b478f;
    color: #fff;
    margin: 1%;
    padding: 0%;
}

.footer .social-media .btn:hover {
    color: #5a3c78;
}

.footer .form-group {
    position: relative;
    padding-left: 15px;
    margin: 20px 0
}

.footer .form-group .form-control {
    background-color: #604080;
    border-radius: 25px;
    border: 0;
    padding: 5px 15px;
    color: #6b478f;
    box-shadow: none;
}

.footer .form-group .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 25px;
    color: #6b478f;
    background: #FFF;
    font-family: Bold;
}

.footer .about-us a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding-left: 15px;
    margin: 12px 0
}

.footer .about-us a:hover {
    color: #5a3c78;
}

.footer .about-us .right a {
    padding-left: 0;
    margin-top: 0
}

.footer .about-us .right a span {
    padding-right: 5px
}

.footer .about-us .right a i {
    padding-right: 10px
}


/* End of footer */